body{
    background-size:150%;
    background-repeat: no-repeat;
    background-image: url('../img/bg.jpg');
}
#content{

    margin-left: 36%;
}

#player{
    visibility: hidden;
}
.messages{
    float:left;
    width:100%;
    height:83%;
    overflow: hidden;
    margin-left: 31px;
}
.horizontalDivider{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}
.sender{
    color:orange;
    text-align: left;
}
.message{
    color:white;
    width:100%;
}
.messageBox input[type=text]{
    background: rgba(42, 30, 12, 0.39);
    height:32px;
    border:0;
    border-top:1px solid gray;
    width:100%;
    font-size: 1.2em;
    font-weight: bold;
    color:gray;
    margin-left: 31px;

}
.topTitle{
    font-weight: bold;
    text-align: center;
    height:64px;
    background: rgba(61, 128, 80, 0.0);
    font-size: 2em;
    color: rgba(165, 120, 62, 0.48);
}
.rectangle{
    overflow:visible;
    float:left;
    display: block;
    width:300px;
    height:600px;
}
.messageBox{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: url('http://fc04.deviantart.net/fs11/i/2006/240/7/a/Bg_Texture___wood_by_nortago.jpg');
    z-index: -1;
    position: absolute;
    left: 278px;
    overflow: hidden;
    margin-top: 9px;
    height: 584px;

}
#board{
    float:left;
    width:600px;
    height:600px;
}
.loader{
    font-size: 1.3em;
    margin-top: 28%;
    margin-left: 45%;
    color: #503818;

}
.hidden{
    display:none;
}
.sliderRectangle{
    position: absolute;
    float:left;
    width:32px;
    height:100%;
    background: rgba(35, 15, 8, 0.45);
}
.sliderRectangle .openChat{
    top: 43%;
    color: rgba(155, 68, 20, 0.14);
    position: absolute;
}