body{
    background-size:150%;
    background-repeat: no-repeat;
    background-image: url('../img/bg.jpg');
}
input[type='text']{
    text-align: center;
    width:100%;
    border:none;
    border-top:2px dotted gray;
    border-radius: 10px;
    outline:none;
}
.joinGame:hover{
  color: #81d2ff;
}
.lobby-boxes{
    height:500px;
}
.roomBox{
    height:479px;
    overflow:hidden;
}
.chatBox{
    height:514px;
    overflow:hidden;
}

.scrollUp{
    position:absolute;
    left:48%;
    margin-top: -24px !important;
}