<!DOCTYPE html>
<html>
<head>
    <link href="/static/css/semantic.min.css" rel="stylesheet">
    <link href="/static/css/lobby.css" rel="stylesheet">
    <script type="text/javascript" src="static/socket.io.js"></script>
    <title>Lobby</title>
</head>
<body ng-app="app">

<input type="text" ng-init="userName = '{{user}}'" ng-model="userName" style="display:none" />
<div class="ui three column grid" style="margin-top:200px" ng-controller="lobbyControl">
    <div class="top aligned row">
        <div class="column lobby-boxes" >
            <div class="ui vertical fluid menu" style="font-size:1em">
                <div class="header item">
                    Chat
                </div>
                <div scroll-Div class="ui celled list chatBox" id="chat">
                    {%raw%}
                    <div hover-items hovercolor="rgba(0,0,0,0.2)" class="item"  ng-repeat="message in messages">
                        <img class="ui avatar image" ng-src="static/img/chesspieces/{{message['rank']}}.png">
                        <div class="content">
                            <div class="header" ng-bind="message['name']"></div>
                            <div class="item" ng-bind="message['time']"></div>
                            <div ng-bind="message['message']"></div>
                        </div>
                    </div>
                </div>
                {%endraw%}
                <lobby-Chat>
                    <input type="text" name='chatInput' placeholder="Enter your message" class="ui inverted input massive chatInput"/>
                </lobby-Chat>
            </div>
        </div>
        <div class="column lobby-boxes">
            <div class="ui vertical fluid menu" style="font-size:1.2em;">

                <div class="header item">
                    Rooms
                </div>

                <div class="item">
                    <button class="ui center huge positive button" style="width: 100%;">Create a game <i class="white play icon"></i></button>
                </div>

                <div scroll-Div id="rooms" class="ui celled list roomBox">
                    {%raw%}

                    <div room-items hover-items hovercolor="rgba(0,0,0,0.2)" class="item" ng-repeat="room in rooms">
                        <img class="ui avatar image" ng-src="static/img/chesspieces/{{room['creatorRank']}}.png">
                        <div class="content">
                            <div class="header" ng-bind="room['name']"></div>
                            <div class="item" ng-bind="room['creator']"></div>
                            <div ng-bind="room['players']+'/2'"></div>
                        </div>
                        <a ng-href='http://www.bmthomas.nl:9000/game/{{room["hash"]}}' ng-click="joinRoom(room['hash'])"><i class=" circular add icon joinGame" style="margin-top:19px;"></i></a>
                    </div>
                </div>
                {%endraw%}
            </div>
        </div>
        <div class="column lobby-boxes">
            <div class="ui vertical fluid menu">
                <div class="header item">Account <h1 class="ui header">
                    <img class="ui avatar image" src="static/img/chesspieces/{{avatar}}.png">{{user}}
                </h1>
                   <div class="item">
                       <div class="wins" ng-bind="'wins:'+stats.wins"></div>
                       <div class="loses" ng-bind="'loses:'+stats.loses"></div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui small modal">
        <i class="close icon"></i>
        <div class="content">
            <div class="right">
                <i class="huge user icon"></i>
            </div>
            <div class="left">
                <div class="ui massive icon input">
                    <input type="text" placeholder="Enter room name" ng-model="roomName">
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button" ng-click="createRoom()">OK</div>
        </div>
    </div>


    <script src="/static/js/vendor/angular.min.js"></script>
    <script src="/static/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="/static/js/vendor/scrollPlugin.js"></script>
    <script src="/static/js/vendor/semantic.min.js"></script>
    <script src="static/js/angular/Module.js"></script>
    <script src="static/js/angular/factory/socketFactory.js"></script>
    <script src="static/js/angular/directives/lobbyDirective.js"></script>
    <script src="static/js/angular/controllers/mainControl.js"></script>
    <script>
        $('button').click(function(){
            $('.ui.modal')
                    .modal('show')
            ;
        });
    </script>
</body>
</html>
